.banner {
    width: 100%;
    height: 56vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::before {
    content: '';
    background: linear-gradient(to top, black 0%, transparent 30%);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}

.banner-text-area {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    overflow: hidden;

    >* {
        z-index: 2;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        height: 250px;
    }

    .banner::before {
        height: 250px;
    }

    .banner-text-area {
        width: 90%;
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}