.genreSelect {
    background: none;
    border: solid 2px darkred;
    border-radius: 10px;
    color: white;
    padding: 10px;

    .genreOption {
        background-color: black;
        border: solid 1px red;
    }
}

@media screen and (max-width:768px) {
    .moviePageContainer {
        display: flex;
        justify-content: center;
    }
}