.appLayoutWholeContainer {
    background-color: black;
    color: white;
    width: 100%;

    min-height: 100vh;

    .logo {
        color: #a50515;
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }

    .logo:hover {
        color: #db071d;
    }
}